@use "../../styles/variables.scss" as *;
.signInNavBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    background-color: $primary-color;
    padding: 0.8rem;
    justify-content: center;
    width: 310px;
    text-align: center;
  }
}
