@use "../../styles//variables.scss" as *;
.zineCardContainer {
  display: grid;
  gap: 2rem;
  justify-items: center;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media only screen and (min-width: $tablet-breakpoint) {
  .zineCardContainer {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: $desktop-breakpoint) {
  .zineCardContainer {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
} ;
