@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Koulen&display=swap");

// breakpoints
$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;

//colors
$primary-color: #000000;
$secondary-color: #ffffff;

// Standard font size
$font-size-tiny: 0.625rem;
$font-size-default: 1rem;
$font-size-smallest: 1.125rem;
$font-size-smaller: 1.25rem;
$font-size-small: 1.5rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;
$font-size-larger: 3rem;
$font-size-largest: 4rem;

//font
$font-general: "Permanent Marker", sans-serif;
$font-button: "Koulen", "sans-serif";
